{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.footer-block-image>img,.rte img{height:auto}.footer-block__details-content .list-menu__item--active,.rte a{transition:text-decoration-thickness var(--duration-short) ease}.footer{border-top:.1rem solid rgba(var(--color-foreground),.08)}.footer:not(.color-background-1){border-top:none}.footer__content-top{padding-bottom:5rem;display:block}.footer-block--newsletter:empty,.footer-block:empty,.footer__list-social:empty,.footer__localization:empty,footer.footer .newsletter-form__field-wrapper .field:after,footer.footer .newsletter-form__field-wrapper .field:before{display:none}.footer__content-bottom{border-top:solid .1rem rgba(var(--color-foreground),.08);padding-top:3rem}.footer__content-bottom:only-child{border-top:0}.footer__content-bottom-wrapper{display:flex;width:100%}.footer__localization:empty+.footer__column--info{align-items:center}.footer__column{width:100%;align-items:flex-end}.footer__column--info{display:flex;flex-direction:column;justify-content:center;align-items:center;padding-left:2rem;padding-right:2rem}.footer-block:only-child:last-child{text-align:center;max-width:76rem;margin:0 auto}@media screen and (min-width:750px){.footer__content-top .grid{row-gap:6rem;margin-bottom:0}.footer__column--info{padding-left:0;padding-right:0;align-items:flex-end}.footer-block{display:block;margin-top:0}}.footer-block--newsletter{display:flex;flex-wrap:wrap;justify-content:center;align-items:flex-end;margin-top:3rem}.footer-block--newsletter:only-child,.rte>p:first-child{margin-top:0}.footer-block--newsletter>*{flex:1 1 100%}.footer-block__heading{margin-bottom:2rem;margin-top:0;font-size:calc(var(--font-heading-scale) * 1.6rem)}@media screen and (min-width:990px){.footer-block__heading{font-size:calc(var(--font-heading-scale) * 1.8rem)}}.footer__list-social.list-social:only-child{justify-content:center}.footer-block__newsletter{text-align:center}.newsletter-form__field-wrapper{max-width:36rem;width:100%}.footer-block__newsletter+.footer__list-social{margin-top:3rem}.footer__localization{display:flex;flex-direction:row;justify-content:center;align-content:center;flex-wrap:wrap;padding:1rem 1rem 0}.localization-form{display:flex;flex-direction:column;flex:auto 1 0;padding:1rem;margin:0 auto}.localization-form:only-child{display:inline-flex;flex-wrap:wrap;flex:initial;padding:1rem 0}.localization-form:only-child .button,.localization-form:only-child .localization-form__select{margin:1rem 1rem .5rem;flex-grow:1}.footer__localization h2{margin:1rem 1rem .5rem;color:rgba(var(--color-foreground),.75)}.localization-form .button{padding:1rem}.localization-form__currency{display:inline-block}.localization-form__select{border-radius:var(--inputs-radius-outset);position:relative;margin-bottom:1.5rem;padding-left:1rem;text-align:left;min-height:calc(4rem + var(--inputs-border-width) * 2);min-width:calc(7rem + var(--inputs-border-width) * 2)}.list-payment,noscript .localization-form__select{padding-left:0}.disclosure__button.localization-form__select{padding:calc(2rem + var(--inputs-border-width));background:rgb(var(--color-background))}.localization-form__select .icon-caret{position:absolute;content:"";height:.6rem;right:calc(var(--inputs-border-width) + 1.5rem);top:calc(50% - .2rem)}.localization-selector.link{text-decoration:none;appearance:none;-webkit-appearance:none;-moz-appearance:none;color:rgb(var(--color-foreground));width:100%;padding-right:4rem;padding-bottom:1.5rem}.footer .disclosure__link--active,.list-menu__item--active{text-decoration:underline}noscript .localization-selector.link{padding-top:1.5rem;padding-left:1.5rem}.disclosure .localization-form__select{padding-top:1.5rem}.localization-selector option{color:#000}.localization-selector+.disclosure__list-wrapper{margin-left:1rem;opacity:1;animation:animateLocalization var(--duration-default) ease}.footer__copyright{text-align:center;margin-top:1.5rem}@keyframes appear-down{0%{opacity:0;margin-top:-1rem}to{opacity:1;margin-top:0}}.footer-block__details-content{margin-bottom:4rem}.copyright__content a,.footer-block__details-content .list-menu__item--link{color:rgba(var(--color-foreground),.75)}.footer .disclosure__link:hover,.footer-block__details-content .list-menu__item--active,.list-social__link{color:rgb(var(--color-foreground))}@media screen and (max-width:989px){.footer__localization noscript,noscript .localization-form:only-child{width:100%}.footer-block__details-content .list-menu__item--link{padding-top:1rem;padding-bottom:1rem}}.footer-block__details-content .placeholder-svg{max-width:20rem}.copyright__content a{color:currentColor;text-decoration:none}@keyframes animateLocalization{0%{opacity:0;transform:translateY(0)}to{opacity:1;transform:translateY(-1rem)}}.footer .disclosure__link{padding:.95rem 3.5rem .95rem 2rem;color:rgba(var(--color-foreground),.75)}@supports not (inset:10px){@media screen and (max-width:749px){.footer .grid{margin-left:0}}@media screen and (min-width:750px){.footer__content-top .grid{margin-left:-3rem}.footer__content-top .grid__item{padding-left:3rem}}}.newsletter-form{display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;position:relative}.newsletter-form__field-wrapper .field__input{padding-right:5rem}.newsletter-form__field-wrapper .field{z-index:0}.newsletter-form__message{justify-content:center;margin-bottom:0}.newsletter-form__message--success{margin-top:2rem}.newsletter-form__button{width:4.4rem;margin:0;right:var(--inputs-border-width);top:0;height:100%;z-index:2}.newsletter-form__button:focus-visible{box-shadow:0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));background-color:rgb(var(--color-background))}.newsletter-form__button:focus{box-shadow:0 0 0 .3rem rgb(var(--color-background)),0 0 0 .4rem rgba(var(--color-foreground));background-color:rgb(var(--color-background))}.newsletter-form__button:not(:focus-visible):not(.focused){box-shadow:inherit;background-color:inherit}.newsletter-form__button .icon{width:1.5rem}.list-menu--right{right:0}.list-menu--disclosure{position:absolute;min-width:100%;width:20rem;border:1px solid rgba(var(--color-foreground),.2)}.list-menu--disclosure:focus{outline:0}.list-menu__item--active{text-underline-offset:0.3rem}.list-menu__item--active:hover{text-decoration-thickness:0.2rem}.list-menu--disclosure.localization-selector{max-height:18rem;overflow:auto;width:10rem;padding:.5rem}.list-payment{display:flex;flex-wrap:wrap;justify-content:center;margin:-.5rem 0;padding-top:1rem}.list-payment__item{align-items:center;display:flex;padding:.5rem}.list-social{display:flex;flex-wrap:wrap;justify-content:flex-end}@media only screen and (max-width:749px){.list-social{justify-content:center}}.list-social__item .icon{height:1.8rem;width:1.8rem}.list-social__link{align-items:center;display:flex;padding:1.3rem}.list-social__link:hover .icon{transform:scale(1.07)}.rte:after{clear:both;content:"";display:block}.rte li:last-child,.rte>p:last-child{margin-bottom:0}.rte table{table-layout:fixed}.rte img{max-width:100%;border:var(--media-border-width) solid rgba(var(--color-foreground),var(--media-border-opacity));border-radius:var(--media-radius);box-shadow:var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow),var(--media-shadow-opacity));margin-bottom:var(--media-shadow-vertical-offset)}.rte ul{padding-left:2rem}.rte li{list-style:inherit}.rte a{color:rgba(var(--color-link),var(--alpha-link));text-underline-offset:.3rem;text-decoration-thickness:.1rem}.rte a:hover{color:rgb(var(--color-link));text-decoration-thickness:.2rem}.rte blockquote{display:inline-flex}.rte blockquote>*{margin:-.5rem 0}.disclosure,.disclosure__item{position:relative}.disclosure__button{align-items:center;cursor:pointer;display:flex;height:4rem;padding:0 1.5rem;font-size:1.3rem;background-color:transparent}.disclosure__list-wrapper{border-width:var(--popup-border-width);border-style:solid;border-color:rgba(var(--color-foreground),var(--popup-border-opacity));overflow:hidden;position:absolute;bottom:100%;transform:translateY(-1rem);z-index:2;background-color:rgb(var(--color-background));border-radius:var(--popup-corner-radius);box-shadow:var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity))}.disclosure__list{position:relative;overflow-y:auto;font-size:1.4rem;padding-bottom:.5rem;padding-top:.5rem;scroll-padding:.5rem 0;min-height:8.2rem;max-height:19rem;max-width:22rem;min-width:12rem;width:max-content}.disclosure__link{display:block;padding:.5rem 2.2rem;text-decoration:none;line-height:calc(1 + .8 / var(--font-body-scale))}footer.footer{background:#292929}footer.footer .footer-top-wrap{display:flex;justify-content:space-between;padding:75px 0;border-bottom:1px solid #3d3a3a;margin-bottom:80px;gap:45px}footer.footer .footer-block-image{margin:0;width:auto;display:flex}footer.footer .footer-block-image img{margin:0;width:auto;display:flex;align-items:flex-start}footer.footer .footer-block--newsletter{margin:0;width:100%;max-width:602px}footer.footer .footer-block--newsletter .footer-block__heading{font-style:normal;font-weight:800;font-size:16px;line-height:21px;letter-spacing:.01em;color:#fff;margin:0 0 5px;text-align:left}footer.footer .footer-block--newsletter .footer__newsletter,footer.footer .newsletter-form__field-wrapper{width:100%;max-width:100%}footer.footer .footer-block--newsletter .newsletter-form__button{width:auto}footer.footer .newsletter-form__field-wrapper .field{width:100%}footer.footer .newsletter-form__field-wrapper .field .field__input{height:43px;border:none;border-bottom:1px solid #fff;background:0 0;padding:0;margin:0}footer.footer .newsletter-form__field-wrapper .field .field__input:focus{outline:0;box-shadow:inherit}footer.footer .newsletter-form__field-wrapper .field .field__label{font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#5c5c5c;left:0}footer.footer .newsletter-form__field-wrapper .field__input:-webkit-autofill~.field__label,footer.footer .newsletter-form__field-wrapper .field__input:focus~.field__label,footer.footer .newsletter-form__field-wrapper .field__input:not(:placeholder-shown)~.field__label{top:-4px;color:#fff;font-size:11px}@media screen and (min-width:750px){.footer-block--newsletter{flex-wrap:nowrap;justify-content:space-between}.footer-block__newsletter:not(:only-child){text-align:left}.footer-block__newsletter:not(:only-child) .footer__newsletter{justify-content:flex-start;margin:0}.footer-block__newsletter:not(:only-child) .newsletter-form__message--success{left:auto}.footer-block__newsletter+.footer__list-social{margin-top:0}.footer__localization{padding:.4rem 0;justify-content:flex-start}.localization-form{padding:1rem 2rem 1rem 0}.localization-form:first-of-type{padding-left:0}.localization-form:only-child{justify-content:start;width:auto;margin:0 1rem 0 0}.localization-form:only-child .button,.localization-form:only-child .localization-form__select{margin:1rem 0}.footer__localization h2{margin:1rem 0 0}noscript .localization-form__select{min-width:20rem}.footer__payment{margin-top:1.5rem}.footer__copyright{text-align:right}.footer-block__details-content{margin-bottom:0}.footer-block__details-content>li,.footer-block__details-content>p{padding:0}.footer-block:only-child li{display:inline}.footer-block__details-content>li:not(:last-child){margin-right:1.5rem}.copyright__content a:hover,.footer-block__details-content .list-menu__item--link:hover{color:rgb(var(--color-foreground));text-decoration:underline;text-underline-offset:.3rem}.footer-block__details-content .list-menu__item--active:hover{text-decoration-thickness:.2rem}.footer-block__details-content .list-menu__item--link{display:inline-block;font-size:1.4rem}.footer-block__details-content>:first-child .list-menu__item--link{padding-top:0}.newsletter-form{align-items:flex-start;margin:0 auto;max-width:36rem}.newsletter-form__message{justify-content:flex-start}.list-payment{justify-content:flex-end;margin:-.5rem;padding-top:0}.rte table td{padding-left:1.2rem;padding-right:1.2rem}footer.footer .grid--3-col-tablet .grid__item{width:min-content}footer.footer .footer__blocks-wrapper .footer-block.accordion-menu-mobile{display:none}}footer.footer .footer-block__heading{font-style:normal;font-weight:800;font-size:16px;line-height:21px;letter-spacing:.01em;color:#fff;margin:0 0 15px}footer.footer .footer-block__details-content li{display:flex;line-height:1}footer.footer .footer-block__details-content li:not(:last-child){margin-bottom:10px}footer.footer .footer-block__details-content li .list-menu__item{font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#c9c9c9;padding:0}footer.footer .footer-block__details-content li .list-menu__item:hover{color:#fff}footer.footer .footer-block__details-content,footer.footer .footer-block__details-content p{font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#c9c9c9;margin:0}footer.footer .footer-block__details-content p{margin:0 0 10px}footer.footer .footer-block__details-content p:last-child{margin-bottom:0}footer.footer .footer-block__details-content p a{font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#c9c9c9;text-decoration:none}footer.footer .footer-block__details-content p a:hover{text-decoration:underline;color:#fff}footer.footer .footer__list-social{margin:22px 0 0;padding:0;display:flex;flex-wrap:wrap;justify-content:flex-start}footer.footer .footer__list-social .list-social__item{margin:0 10px 0 0}footer.footer .footer__list-social .list-social__item .list-social__link{background:#fff;width:36px;height:36px;display:flex;align-items:center;justify-content:center;border-radius:50%;padding:0;color:#292929}footer.footer .footer__list-social .list-social__item .list-social__link .icon{width:20px;height:20px}footer.footer .footer__content-bottom{padding:0;border:none}footer.footer .footer__content-bottom .footer__column--info{display:flex;flex-flow:row-reverse;justify-content:space-between;margin:0;padding:30px 0;border-top:1px solid #3d3a3a;align-items:center}footer.footer .footer__content-bottom .footer__column--info .footer__payment,footer.footer .list-payment{margin:0}footer.footer .footer__content-bottom .footer__column--info .footer__copyright{font-style:normal;font-weight:400;font-size:12px;line-height:16px;color:#c9c9c9;margin:0}footer.footer .list-payment .list-payment__item{padding:0;margin:0 0 0 5px;gap:0}footer.footer .list-payment .list-payment__item .icon{height:14px;width:auto}@media screen and (max-width:749px){.footer .grid{display:block}.footer-block.grid__item{padding:0;margin:4rem 0;width:100%}.footer-block.grid__item:first-child{margin-top:0}.footer__content-top{padding-left:calc(4rem / var(--font-body-scale));padding-right:calc(4rem / var(--font-body-scale))}.footer__content-bottom{flex-wrap:wrap;padding-top:0;padding-left:0;padding-right:0;row-gap:1.5rem}.footer__content-bottom-wrapper{flex-wrap:wrap;row-gap:1.5rem}.footer__localization:empty+.footer__column{padding-top:1.5rem}.footer-block.footer-block--menu:only-child{text-align:left}.footer__list-social.list-social{justify-content:center}.localization-form .button{word-break:break-all}.footer-block-image{text-align:center}.footer__content-top{padding-left:20px;padding-right:20px;padding-bottom:0}footer.footer .footer-top-wrap{padding:55px 0 0;flex-flow:column;gap:30px;margin-bottom:0;border:none}footer.footer .footer-block-image img{max-width:230px!important}footer.footer .footer-block--newsletter{width:100%;max-width:100%}footer.footer .footer-block--newsletter .footer-block__heading{margin:0 0 3px;font-style:normal;font-weight:800;font-size:14px;line-height:20px}footer.footer .footer__blocks-wrapper{display:flex;gap:0}footer.footer .footer__blocks-wrapper .footer-block{margin:30px 0 0;order:2}footer.footer .footer__blocks-wrapper .footer-block:not(.footer-block--menu){order:1}footer.footer .footer-block__heading{font-style:normal;font-weight:800;font-size:14px;line-height:20px;margin:0 0 8px}footer.footer .footer-block__details-content,footer.footer .footer-block__details-content p{font-style:normal;font-weight:400;font-size:14px;line-height:19px;color:#c9c9c9}footer.footer .footer-block__details-content p{margin:0 0 5px}footer.footer .footer__list-social{margin:15px 0 0}footer.footer .footer-block__details-content li:not(:last-child){margin-bottom:0}footer.footer .footer__blocks-wrapper .footer-block.accordion-menu-mobile{padding:15px 0;border-top:1px solid #3d3a3a;border-bottom:1px solid #3d3a3a}footer.footer .footer__blocks-wrapper .footer-block.accordion-menu-mobile .footer-block__heading{margin:0;position:relative;display:flex;justify-content:space-between;align-items:center}footer.footer .footer__blocks-wrapper .footer-block.accordion-menu-mobile .footer-block__heading .tab-icon{display:flex;height:10px;width:10px;position:absolute;top:50%;transform:translateY(-50%);right:0}footer.footer .footer__blocks-wrapper .footer-block.accordion-menu-mobile.active .footer-block__heading .tab-icon{transform:translateY(-50%) rotate(45deg)}footer.footer .footer__blocks-wrapper .footer-block.accordion-menu-mobile .footer-block__details-content{display:none;margin-top:8px}footer.footer .footer__blocks-wrapper .footer-block.accordion-menu-mobile~.footer-block.accordion-menu-mobile{margin-top:-1px}footer.footer .footer__blocks-wrapper .footer-block--menu:not(.accordion-menu-mobile){display:none}footer.footer .footer__content-bottom .footer__column--info{padding:20px 0;border-top:none;display:flex;flex-flow:column-reverse;justify-content:flex-start;align-items:flex-start}footer.footer .list-payment{margin:0;padding-top:8px}}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'section-footer.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-newsletter.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-menu.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-payment.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-social.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-rte.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'disclosure.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'footer.css' | asset_url }}">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'footer.css' | asset_url | stylesheet_tag }}</noscript>


{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }
  .shopify-section.contact-map:last-child{
    margin-bottom: -{{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }
    
    .shopify-section.contact-map:last-child{
      margin-bottom: -{{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">



     <div class="footer-top-wrap">
      <!-- START logo wrap -->
      {% for block in section.blocks %}
        {% if block.type == 'image' %}
        <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}" style="position:relative;">
            {%- if block.settings.image != blank -%}
              {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
              <a href="/" style="display:block;position:absolute;width:100%;height:100%;"></a>
              <img
                srcset= "{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                src="{{ block.settings.image | image_url: width: 400 }}"
                alt="{{ block.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                style="max-width: min(100%, {{ block.settings.image_width }}px);"
              >
              
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
            {%- endif -%}
        </div>
        {% endif %}
      {% endfor %}
      <!-- END logo wrap -->
    
        <div class="footer-block--newsletter">
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="Your Email"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      Your Email
                    </label>
                    <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                      {% render 'icon-arrow' %}
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                {%- endif -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message hidden" data-newsletter-already-msg>Good News! you're already signed up.</h3>
              {%- endform -%}
            </div>

          {%- endif -%}

        </div>
      </div>

    
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if block.type == 'image' %} hidden{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte">
                    {{ block.settings.subtext }}
                    {% if block.settings.show_social == true %}{% render 'footer-social-icons' %}{% endif %}
                  </div>
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                      <img
                        srcset= "{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                        src="{{ block.settings.image | image_url: width: 400 }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.image.width }}"
                        height="{{ block.settings.image.height }}"
                        style="max-width: min(100%, {{ block.settings.image_width }}px);"
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                  </div>
                {%- endcase -%}
            </div>
          {%- endfor -%}

          <!-- Start menu accordion for mobile -->
          {%- for block in section.blocks -%}
            {%- if block.type == 'link_list' -%}
            {%- if block.settings.menu != blank -%}
            <div class="footer-block grid__item footer-block--menu accordion-menu-mobile" data-menu-accordion-wrap>
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading" data-menu-accordion-title>
                  <span class="tab-title">{{- block.settings.heading | escape -}}</span>
                  <span class="tab-icon">{% render 'icon-footer-tab-plus' %}</span>
                </h2>
              {%- endif -%}
              <ul class="footer-block__details-content list-unstyled" data-menu-accordion-list>
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                      {{ link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
            {%- endif -%}
            {%- endif -%}
          {% endfor %}

          <script>
            $(document).ready(function(){
              $(document).on("click","[data-menu-accordion-title]",function(){
                $(this).closest("[data-menu-accordion-wrap]").siblings().removeClass("active").find("[data-menu-accordion-list]").slideUp();
                if($(this).closest("[data-menu-accordion-wrap]").hasClass("active")){
                  $(this).closest("[data-menu-accordion-wrap]").removeClass("active").find("[data-menu-accordion-list]").slideToggle();
                }
                else{
                  $(this).closest("[data-menu-accordion-wrap]").addClass("active").find("[data-menu-accordion-list]").slideToggle();
                }
              });
            });
          </script>
        <!-- End menu accordion for mobile -->
          
        </div>
      {%- endif -%}
     
      
    </div>
  {%- endif -%}

  
  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate hidden">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled">
                      {%- for country in localization.available_countries -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                            {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <div class="disclosure__list-wrapper" hidden>
                    <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled">
                      {%- for language in localization.available_languages -%}
                        <li class="disclosure__item" tabindex="-1">
                          <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                            {{ language.endonym_name | capitalize }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
          <small class="copyright__content">{{ powered_by_link }}</small>
        </div>
      </div>
    </div>
  </div>

  
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);

{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "limit":2,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "limit":2,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": false,
          "label": "t:sections.footer.settings.show_social.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit":1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 390,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 390
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
