{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.hero-section-main-wrapper,.hero-section-main-wrapper .page-width{width:100%}.hero-section-list-main{width:100%;position:relative}.hero-section-list-main .slick-arrow{position:absolute;z-index:1;top:50%;transform:translateY(-50%);height:35px;width:35px;border:none;font-size:0;cursor:pointer;padding:0}.hero-section-list-main .slick-arrow.slick-disabled{opacity:0;visibility:hidden}.hero-section-list-main .slick-arrow.slick-prev{left:25px;background:url(https://cdn.shopify.com/s/files/1/0700/9468/4438/files/left-arrow.svg?v=1674466093) no-repeat center}.hero-section-list-main .slick-arrow.slick-next{right:25px;background:url(https://cdn.shopify.com/s/files/1/0700/9468/4438/files/right-arrow.svg?v=1674466092) no-repeat center}.hero-section-list-main .slick-track{display:flex}.hero-section-list-main .slick-track .hero-section-wrapper{height:inherit}@media screen and (min-width: 641px){.hero-section-list-main.banner-height--small .background-video-wrapper .video-background,.hero-section-list-main.banner-height--small .hero-section-wrapper .banner-images{padding-bottom:400px}.hero-section-list-main.banner-height--medium .background-video-wrapper .video-background,.hero-section-list-main.banner-height--medium .hero-section-wrapper .banner-images{padding-bottom:650px}.hero-section-list-main.banner-height--large .background-video-wrapper .video-background,.hero-section-list-main.banner-height--large .hero-section-wrapper .banner-images{padding-bottom:83vh}}.hero-section-wrapper{width:100%;position:relative}.hero-section-wrapper .banner__media{padding-bottom:50%}.hero-section-wrapper .banner-images{position:relative;padding-bottom:40%;width:100%;overflow:hidden}.hero-section-wrapper .banner-images img{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);object-fit:cover;height:100%;width:100%}.hero-section-wrapper .banner-content-wrapper{position:absolute;width:100%;top:0;left:0;z-index:2;display:flex;height:100%;align-items:center;justify-content:center;padding:93px 15px}.hero-section-wrapper .banner-content-wrapper .content-box{margin:0 auto}.hero-section-wrapper .banner-content-wrapper .content-box .banner-title{font-style:normal;font-weight:800;font-size:64px;line-height:70px;margin:0 0 20px}.hero-section-wrapper .banner-content-wrapper .content,.hero-section-wrapper .banner-content-wrapper .content p{font-style:normal;font-weight:400;font-size:20px;line-height:26px}.hero-section-wrapper .banner-content-wrapper .content-box .banner-btn{margin-top:50px;font-style:normal;font-weight:800;font-size:16px;line-height:21px;letter-spacing:.03em;padding:15px 35px;border-radius:3px}.hero-section-wrapper .banner-content-wrapper .content-box .banner-btn:after,.hero-section-wrapper .banner-content-wrapper .content-box .banner-btn:before{display:none}.hero-section-wrapper .banner-content-wrapper.text-align--left{text-align:left}.hero-section-wrapper .banner-content-wrapper.text-align--center{text-align:center}.hero-section-wrapper .banner-content-wrapper.text-align--right{text-align:right}.hero-section-wrapper .banner-content-wrapper.content-alignment--top{align-items:flex-start}.hero-section-wrapper .banner-content-wrapper.content-alignment--middle{align-items:center}.hero-section-wrapper .banner-content-wrapper.content-alignment--bottom{align-items:flex-end}.hero-section-wrapper.with-half-bg .banner-images{left:50%;width:50%}.hero-section-wrapper.with-half-bg .banner-content-wrapper{width:50%}.background-video-wrapper{width:100%;position:relative;height:100%}.background-video-wrapper .video-background{width:100%;position:relative;height:100%;overflow:hidden}.background-video-wrapper .video-background iframe,.background-video-wrapper .video-background video{position:absolute;left:50%;top:50%;height:200%;width:150%;transform:translate(-50%,-50%)}.hero-section-wrapper .banner-images img.mobi-img{display:none}@media screen and (max-width: 640px){.hero-section-list-main.banner-height--small .background-video-wrapper .video-background,.hero-section-list-main.banner-height--small .hero-section-wrapper .banner-images{padding-bottom:350px}.hero-section-list-main.banner-height--medium .background-video-wrapper .video-background,.hero-section-list-main.banner-height--medium .hero-section-wrapper .banner-images{padding-bottom:550px}.hero-section-list-main.banner-height--large .background-video-wrapper .video-background,.hero-section-list-main.banner-height--large .hero-section-wrapper .banner-images{padding-bottom:90vh}.hero-section-wrapper .banner-images img.desk-img{display:none}.hero-section-wrapper .banner-images img.mobi-img{display:block}.hero-section-wrapper{display:flex!important;flex-flow:column-reverse}.hero-section-wrapper .banner-content-wrapper{width:100%;padding:55px 0}.hero-section-wrapper.with-half-bg .banner-content-wrapper{width:100%;position:relative}.hero-section-wrapper.no-contents .banner-images{padding-bottom:100%;height:100%}.hero-section-wrapper.no-contents .video-background{position:absolute}.hero-section-wrapper.no-contents .background-video-wrapper .video-background iframe,.hero-section-wrapper.no-contents .background-video-wrapper .video-background video{height:150%;width:400%}.background-video-wrapper .video-background{width:100%;position:relative;padding-bottom:56.25%;overflow:hidden}.background-video-wrapper .video-background iframe,.background-video-wrapper .video-background video{position:absolute;left:50%;top:50%;height:100%;width:100%;transform:translate(-50%,-50%)}.hero-section-wrapper .banner-content-wrapper .content-box .banner-title{font-style:normal;font-weight:800;font-size:45px;line-height:50px;max-width:245px}.hero-section-wrapper .banner-content-wrapper .content{max-width:245px}.hero-section-wrapper .banner-content-wrapper .content,.hero-section-wrapper .banner-content-wrapper .content p{font-style:normal;font-weight:400;font-size:16px;line-height:21px}.hero-section-wrapper .banner-content-wrapper .content-box .banner-btn{margin-top:30px;font-style:normal;font-weight:800;font-size:14px;line-height:19px;letter-spacing:.03em}.hero-section-list-main .slick-arrow{display:none!important}}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'hero-section.css' | asset_url }}">
<noscript>{{ 'hero-section.css' | asset_url | stylesheet_tag }}</noscript>

<section id="Banner-{{ section.id }}">
  <div class="hero-section-list-main banner-height--{{ section.settings.banner_height }}">
    {%- for block in section.blocks -%}
      <div class="hero-section-wrapper{% if block.settings.image_half %} with-half-bg{% endif %}{% unless block.settings.title != blank or block.settings.title != blank or block.settings.btn_text != blank  %} no-contents{% endunless %}">

         {% if block.settings.title != blank or block.settings.title != blank or block.settings.btn_text != blank  %}
            <div class="banner-content-wrapper text-align--{{ block.settings.text_align }} content-alignment--{{ block.settings.content_alignment }}">
              <div class="page-width">
                <div class="content-box">
                  {% if block.settings.title != blank %}
                     <h2 class="banner-title rich-text__heading rte h1">{{ block.settings.title }}</h2>
                  {% endif %}  
            
                  {% if block.settings.content != blank %}
                   <div class="content rich-text__text rte">{{ block.settings.content }}</div>
                  {% endif %}  
            
                  {% if block.settings.btn_text != blank %}
                    <a href="{{ block.settings.btn_url }}" class="button banner-btn">{{ block.settings.btn_text }}</a>
                  {% endif %}  
                </div>
              </div>
            </div>
          {% endif %}  
      
          {% if block.settings.banner_type == 'image' %}
          
          {% capture BannerImg %}
              {% if block.settings.image != blank %}
                <div class="banner-images">
                  {% if block.settings.mobi_image != blank %}
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ block.settings.image | img_url: 'master' }}" class="desk-img" />
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ block.settings.mobi_image | img_url: 'master' }}" class="mobi-img" />
                  {% else %}
                     <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ block.settings.image | img_url: 'master' }}" />
                  {% endif %} 
                </div>
              {% else %}  
              <div class="banner__media media placeholder">
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              {% endif %} 
          {% endcapture %}
        
          {% if block.settings.image_full %}
            {{ BannerImg }}
          {% else %}
            <div class="page-width">
            {{ BannerImg }}
            </div>
          {% endif %}
        
          {% elsif block.settings.banner_type == 'video' %}  
          
          <div class="background-video-wrapper">    
             <div class="video-background">
                  {% if block.settings.video_url_mp4 != blank %}         
                    {{ block.settings.video_url_mp4 | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                  {% else %}           
                    {% if block.settings.video_url.type == 'vimeo' %}              
                      <iframe src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?background=1&autoplay=1&loop=1&byline=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    {% endif %}
                  {% endif %} 
              </div>
          </div>

         <script>
           console.clear();

            // 🍋 on DOM loaded
            document.addEventListener("DOMContentLoaded", event => {
              console.log("DOM has loaded 🥳");
              // extract + inject thumbnail inside the DOM
              initThumbnail();
              // inject constructed player after 2s
              initVimeo();
              /*
              setTimeout(() => {
                initVimeo();
              }, 2000);
              */
            });
            
            /**
             * dynamically pull id attribute from the DOM
             * use the getVimeoId() function whenever the id is needed
             */
            
            // 🍑 getVimeoId() declaration
            function getVimeoId() {
              const vimeo = document.getElementsByClassName("vimeo")[0];
              return vimeo.getAttribute("id");
            }
            
            /**
             * dynamic thumbnail injection via AJAX request
             * based on vimeo id json response extraction
             */
            
            // 🍓 initThumbnail() declaration
            function initThumbnail() {
              const thumbnail = document.getElementsByClassName("vimeo")[0];
              // AJAX request setup
              const request = new XMLHttpRequest();
              const method = "GET";
              const url = "https://vimeo.com/api/v2/video/" + getVimeoId() + ".json";
              // when the request is loaded
              request.onload = function() {
                // parse the response
                const json = JSON.parse(request.responseText);
                // console.log(json);
                // extract the thumbnail url from the json response
                const thumbnailSource = json[0].thumbnail_large;
                console.log(`thumbnail path is ${thumbnailSource} 🥳`);
                // create img tag
                const image = document.createElement("img");
                // inject json src dynamically into img element
                image.setAttribute("src", thumbnailSource);
                image.setAttribute("class", "vimeo");
                image.setAttribute("alt", "this is a video");
                // append img element to the div
                thumbnail.appendChild(image);
                console.log("thumbnail was created 🥳");
              }; // end request.onload
              request.open(method, url);
              request.send();
            }
            
            /**
             * A) inject id from the getVimeoId() function into options
             * B) pass the options variable into the player constructor
             */
            
            // 🍉 initVimeo() declaration
            function initVimeo() {
              const vimeo = document.getElementsByClassName("vimeo")[0];
            
              // player options
              const options = {
                id: getVimeoId(),
                autoplay: true,
                autopause: 0,
                loop: true,
                muted: true, // autoplay on mobile
                background: true, // remove all controls
                responsive: true, // experimental
                quality: "1080p"
              };
            
              // player constructor initialisation
              const player = new Vimeo.Player(vimeo, options);
            
              player.loadVideo(getVimeoId()).then(function(id) {
                console.log(`video ${id} has loaded 🥳`);
              });
            
              player.on("play", event => {
                console.log("video is playing ❤️");
              });
            } // end of initVimeo()
            
            // go get a 🍭
         </script>
        
         {% endif %}         
        
           {% style %}
            .hero-section-wrapper .banner-content-wrapper .banner-title,
            .hero-section-wrapper .banner-content-wrapper .content,
            .hero-section-wrapper .banner-content-wrapper .content p { color:{{ block.settings.text_color | default: "#121212" }}; }
        
            .hero-section-wrapper .banner-content-wrapper .banner-btn { color:{{ block.settings.btn_text_color | default: "#ffffff" }};
                                                                       background:{{ block.settings.btn_bg_color | default: "#121212" }}; }
            .hero-section-wrapper .banner-content-wrapper .banner-btn:hover { color:{{ block.settings.btn_text_color_hover | default: "#ffffff" }};
                                                                       background:{{ block.settings.btn_bg_color_hover | default: "#252222" }}; }
        
            {% if block.settings.image_half %}
              .hero-section-wrapper.with-half-bg .banner-content-wrapper {  background:{{ block.settings.half_bg_color | default: "#121212" }}; }
            {% endif %}
            
          {% endstyle %}
  
      </div>
    {%- endfor -%}  
  </div>

  
</section>


{% schema %}
  {
    "name": "Hero Section",
    "class": "hero-section-main-wrapper",
    "settings": [
       {
          "type": "select",
          "id": "banner_height",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }          
          ],
          "default": "small",
          "label": "Banner Height"
        }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Hero banner",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "banner_type",
            "options": [
              {
                "value": "image",
                "label": "Image"
              },
              {
                "value": "video",
                "label": "Video"
              }          
            ],
            "default": "image",
            "label": "Banner type"
          },
          {
            "type": "header",
            "content": "Banner Images"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Desktop Image"
          },
          { 
            "type": "image_picker",
            "id": "mobi_image",
            "label": "Mobile Image"
          },
          {
            "type": "checkbox",
            "id": "image_full",
            "default": false,
            "label": "Image full screen"
          },
          {
            "type": "checkbox",
            "id": "image_half",
            "default": false,
            "label": "Banner with half background"
          },
          {
            "type": "color",
            "id": "half_bg_color",       
            "label": "half background Color",
            "default": "#121212"
          },
          {
            "type": "header",
            "content": "Background video"
          },
          {
              "type": "video_url",
              "id": "video_url",
              "accept": ["vimeo"],
              "label": "Video"         
          },
          {
              "type": "video",
              "id": "video_url_mp4",
              "label": "Video Mp4"
          },
          {
            "type": "header",
            "content": "Banner Contents"
          },
          {
            "type": "text",
            "id": "title",       
            "label": "title"         
          },
          {
            "type": "richtext",
            "id": "content",       
            "label": "content"         
          },
          {
            "type": "color",
            "id": "text_color",       
            "label": "Text Color",
            "default": "#121212"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content alignment",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "middle",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ],
            "default": "middle"
          },
          {
            "type": "select",
            "id": "text_align",
            "label": "Text Align",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "url",
            "id": "btn_url",       
            "label": "Button link"         
          },
          {
            "type": "text",
            "id": "btn_text",       
            "label": "Button Text"         
          },
          {
            "type": "color",
            "id": "btn_text_color",       
            "label": "Button Text Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "btn_bg_color",       
            "label": "Button Background Color",
            "default": "#121212"
          },
          {
            "type": "color",
            "id": "btn_text_color_hover",       
            "label": "Button Text  Hover Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "btn_bg_color_hover",       
            "label": "Button Background Hover Color",
            "default": "#121212"
          }
      ]
    }
  ],
    "presets": [
      {
        "name": "Hero Section"        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}