{% assign size = 0 %}
{% capture testimonials %}
  {% for block in section.blocks %}
    {% if block.settings.name != blank and block.settings.desc != blank %}
      {% assign size = size | plus:1 %}
      <div class="testi-item">
      {% assign rating = block.settings.rating | plus:0 %}
        <div class="review-star" data="{{ rating }}">{% if block.settings.rating != 'none' %}{% render 'five-star' with rating %}{% endif %}</div>
        {% if block.settings.desc != blank %}
            <div class="review-text">{{ block.settings.desc }}</div>
        {% endif %}
        {% if block.settings.name != blank %}<div class="author">{{ block.settings.name }}</div>{% endif %}
       </div>
    {% endif %}
  {% endfor %}
{% endcapture %}

{% if testimonials != blank %}
{% if template contains 'index' or template contains 'collection' or template contains 'product' %}
    
{% else %}
    <style>.client-testimonials-wrapper{background:#F9F9FA}.client-testimonials-wrapper .sec-head{margin-bottom:48px}.testimonials-list-wrapper{width:100%;position:relative}.testimonials-list-wrapper .slide-arrows{position:absolute;z-index:1;right:0;top:-94px;display:flex}.testimonials-list-wrapper .slide-arrows .slide-arrow{border:none;background:transparent;height:30px;width:30px;display:flex;padding:0;cursor:pointer}.testimonials-list-wrapper .slide-arrows .slide-arrow.next{margin-left:40px}.testimonials-wrapper{width:100%;display:flex}.testimonials-wrapper .testi-item{width:387px;background:#FFFFFF;border-radius:10px;padding:50px 45px;margin-right:20px;display:flex;flex-flow:column}.testimonials-wrapper .testi-item .review-star{display:flex;margin-bottom:22px}.testimonials-wrapper .testi-item .review-text,.testimonials-wrapper .testi-item .review-text p{font-style:normal;font-weight:400;font-size:16px;line-height:24px;color:#646473}.testimonials-wrapper .testi-item .author{font-style:normal;font-weight:800;font-size:16px;line-height:22px;color:#252222;margin-top:25px}@media screen and (max-width: 749px){.client-testimonials-wrapper .sec-head{margin-bottom:30px}.testimonials-list-wrapper{width:auto;margin-right:-20px}.testimonials-list-wrapper .slide-arrows{display:none}.testimonials-wrapper .testi-item{width:310px;border-radius:15px;padding:30px;margin-right:10px}.testimonials-wrapper .testi-item .review-star{margin-bottom:13px}.testimonials-wrapper .testi-item .review-text,.testimonials-wrapper .testi-item .review-text p{font-style:normal;font-weight:400;font-size:14px;line-height:20px}.testimonials-wrapper .testi-item .author{font-style:normal;font-weight:800;font-size:14px;line-height:20px;margin-top:15px}}</style>
{% endif %}
<link rel="stylesheet" data-href="{{ 'client-testimonials.css' | asset_url }}">
<noscript>{{ 'client-testimonials.css' | asset_url | stylesheet_tag }}</noscript>

<section id="section{{ section.id }}">
  <div class="page-width">

  {% if section.settings.title != blank %}
      <div class="sec-head">
         <h2 class="sec-title">{{ section.settings.title }}</h2>
      </div>
    {% endif %}

     <div class="testimonials-list-wrapper">

          <div class="slide-arrows{% if size <= 3 %} hidden{% endif %}">
             <button class="slide-arrow prev">{% render 'icon-prev' %}</button>
             <button class="slide-arrow next">{% render 'icon-next' %}</button>
          </div>

          <div class="testimonials-wrapper{% if size > 3 %} enabled{% endif %}">
          {{ testimonials }}
          </div>
     </div>         
  </div>
</section>

<script type="lazyload_int">
  
  $(document).ready(function(){
  if($(window).width() > 992){
     $('.testimonials-wrapper.enabled').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 1,
        variableWidth: true,
        prevArrow: $('#section{{ section.id }} .prev'),
        nextArrow: $('#section{{ section.id }} .next'),
        responsive: [
          {
            breakpoint: 993,
            settings:'unslick'
             
          }
        ]
     });
  }else{
     $('.testimonials-wrapper').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToScroll: 1,
        variableWidth: true,
        prevArrow: $('#section{{ section.id }} .prev'),
        nextArrow: $('#section{{ section.id }} .next'),
     });
  }

  });
  
</script>
{% endif %}

{% schema %}
  {
    "name": "Testimonials",
    "class": "section-padding client-testimonials-wrapper",
    "settings": [
      { 
        "type": "html",
        "id": "title",
        "label": "Title",
        "default":"What <span>brand</span><br> <span>Customers</span>Are Saying",
        "info":"Add <span></span> tag for different text color"
      }
    ],
    "blocks": [
        {
          "type": "text",
          "name": "Testimonial",
          "settings": [
            {
              "type": "select",
              "id": "rating",
              "label": "Rating Star",
              "options":[
                {
                  "value":"none",
                  "label":"None"
                },
                {
                  "value":"1",
                  "label":"1"
                },
                {
                  "value":"2",
                  "label":"2"
                },
                {
                  "value":"3",
                  "label":"3"
                },
                {
                  "value":"4",
                  "label":"4"
                },
                {
                  "value":"5",
                  "label":"5"
                }
              ],
              "default":"5"
            },
            {
              "type": "textarea",
              "id": "desc",
              "label": "Description",
              "default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut"
            },
            { 
              "type": "text",
              "id": "name",
              "label": "Author Name"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials"        
      }
    ]
  }
{% endschema %}

